<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84192154010-h7435fme2mse4uosde68hkk3ib4v7l1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84192154010-h7435fme2mse4uosde68hkk3ib4v7l1e</string>
	<key>API_KEY</key>
	<string>AIzaSyDkt8bS4Sz3JOk1G1Odbf86RL0Qt9PEQeU</string>
	<key>GCM_SENDER_ID</key>
	<string>84192154010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laurenboyle.Migraine-Meter</string>
	<key>PROJECT_ID</key>
	<string>migraine-meter</string>
	<key>STORAGE_BUCKET</key>
	<string>migraine-meter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:84192154010:ios:6734baa76445e5e7c96a23</string>
</dict>
</plist>
